* {
  margin: 0;
  padding: 0;
  font-family: lato;
}

.position-relative {
  position: relative;
}

.site-size {
  max-width: 100vw;
  margin: 0 auto;
}

.nav {
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background: #222222;
  min-height: 75px;
}

.nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 19px 230px;
}

.nav-container-link {
  padding-left: 34px;
}

.haeder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.haeder-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #f1e4e6;
  color: #222222;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
}

.haeder-box img {
  width: 50vw;
}

.haeder-box-logo {
  background: #f16d7f;
  min-width: 12px;
  min-height: 92px;
  margin-left: 55px;
}

.haeder-box-text {
  font-weight: 700;
  font-size: 37px;
  line-height: 45px;
  color: #222222;
  padding-left: 16px;
}

.haeder-box-text #haeder-box-text-main {
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
}

.haeder-box-text #haeder-box-text-focus {
  font-weight: 700;
  font-size: 37px;
  line-height: 45px;
  color: #f16d7f;
}

.mine {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mine-box-top {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  padding: 64px 230px;
}

.mine-box-top-img {
  position: relative;
  width: 100%;
}

.mine-box-top-link {
  position: relative;
}

.mine-box-top-link div {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.mine-box-top-link a {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
}

.mine-box-top-link p {
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: 100%;
  position: absolute;
  -ms-flex-line-pack: center;
      align-content: center;
}

.mine-box-top-link span {
  font-size: 24px;
  line-height: 29px;
  color: #f16d7f;
}

.mine-box-top div:nth-child(4) {
  grid-column: 1/-1;
}

.mine-box-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 64px 230px;
}

.mine-box-center-header h3 {
  font-size: 30px;
  line-height: 36px;
  color: #222222;
  text-align: center;
  padding-bottom: 6px;
}

.mine-box-center-header p {
  font-size: 14px;
  line-height: 17px;
  color: #9f9f9f;
  text-align: center;
  padding-bottom: 48px;
}

.mine-box-center #mine-box-center-link-all-product {
  padding: 15px 39px;
  border: 1px solid #ff6a6a;
  text-decoration: none;
  text-align: center;
  margin: 30px auto;
  font-size: 16px;
  line-height: 19px;
  color: #f26376;
}

.footer {
  background: #222224;
}

.footer-top {
  min-height: 341px;
  display: -ms-grid;
  display: grid;
  grid-column-gap: 30px;
  margin: 0 230px;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-top div {
  text-align: center;
}

.footer-top h3 {
  font-size: 20px;
  line-height: 24px;
  color: #fbfbfb;
  padding-top: 28px;
}

.footer-top p {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #fbfbfb;
  padding-top: 16px;
}

.footer-mine {
  background-image: url(images/footer-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 448px;
  padding: 0 230px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.footer-mine div {
  text-align: center;
  max-width: 360px;
}

.footer-mine p {
  padding-top: 30px;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
}

.footer-mine #footer-mine-subscribe {
  min-width: 560px;
}

.footer-mine #footer-mine-subscribe div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 40px;
  padding: 0 100px;
}

.footer-mine #footer-mine-subscribe input {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  background: #e1e1e1;
  border: none;
  padding: 10px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  font-size: 14px;
  line-height: 17px;
  color: #222224;
  opacity: 0.67;
}

.footer-mine #footer-mine-subscribe button {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background: #f16d7f;
  border: none;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
}

.footer-mine h3 {
  font-size: 24px;
  line-height: 40px;
  text-align: center;
  color: #222224;
}

.footer-mine span {
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  color: #222224;
}

.footer-copyright {
  min-height: 80px;
  padding: 0 230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-copyright p {
  font-size: 16px;
  line-height: 19px;
  color: #fbfbfb;
}

.footer-copyright a {
  padding: 0 8px;
}

.catalog-haeder {
  min-height: 10vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  background: #f8f3f4;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 230px;
}

.catalog-haeder div {
  font-size: 24px;
  line-height: 29px;
  color: #f16d7f;
  justify-self: flex-start;
}

.catalog-haeder nav {
  -ms-grid-column-align: self-end;
      justify-self: self-end;
}

.catalog-haeder a {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
  color: #636363;
}

.mine-box-card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}

.mine-box-card .Add_to_Card {
  display: none;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  justify-items: center;
}

.mine-box-card .Add_to_Card div {
  background: rgba(58, 56, 56, 0.86);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 10px 20px;
}

.mine-box-card .Add_to_Card div div {
  border: 1px solid #FFFFFF;
}

.mine-box-card .Add_to_Card div div a {
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  text-decoration: none;
}

.mine-box-card .Add_to_Card div div a:last-child {
  padding-left: 8px;
}

.mine-box-card-container img {
  width: 100%;
  position: relative;
}

.mine-box-card-container h2 {
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  padding: 24px 0 12px;
}

.mine-box-card-container p {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5d5d5d;
}

.mine-box-card-container p:last-child {
  font-size: 16px;
  line-height: 19px;
  color: #f16d7f;
  padding: 18px 0 20px;
}

.catalog-main {
  padding: 0 230px;
}

.catalog-main header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 0 64px;
}

.catalog-main nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.catalog-main nav p {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.catalog-main nav nav {
  margin-left: 8px;
  border: none;
  background: #ffffff;
  z-index: 2;
}

.catalog-main nav nav nav {
  display: none;
  position: absolute;
  top: -17px;
  left: -25px;
  width: 25vw;
  text-align: left;
  border-radius: 5px;
  background: #ffffff;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.catalog-main nav nav nav div:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.catalog-main nav nav nav div:nth-child(1) a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.catalog-main nav nav nav div:nth-child(1) p {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #ef5b70;
  padding-right: 8px;
}

.catalog-main nav nav nav div {
  margin: 17px;
}

.catalog-main nav nav nav div a {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
  color: #ef5b70;
}

.catalog-main nav nav nav div a span {
  display: block;
  border-bottom: 1px solid #ebebeb;
  border-left: 5px solid #ef5b70;
  padding: 11px;
}

.catalog-main nav nav nav div ul {
  display: none;
  background: #ffffff;
  text-align: left;
  list-style: none;
}

.catalog-main nav nav nav div ul li {
  padding: 10px 0;
}

.catalog-main-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.catalog-main-filter div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  line-height: 16px;
  color: #6f6e6e;
}

.catalog-main-filter div div {
  position: relative;
  text-decoration: none;
}

.catalog-main-filter div img {
  padding-left: 10px;
  padding-right: 30px;
}

.catalog-main-filter div .catalog-main-filter-checkbox {
  display: none;
  position: absolute;
  left: 5px;
  background: #ffffff;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  padding: 7px 30px 7px 7px;
  z-index: 2;
}

.catalog-main-filter div .catalog-main-filter-checkbox p {
  padding-left: 5px;
}

.catalog-main-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 10px;
  border: 1px solid #ebebeb;
  width: 20vw;
  margin: 48px auto 96px;
}

.catalog-main-pagination a {
  padding: 0 5px;
}

@media (max-width: 1024px) and (min-width: 768px) {
  .nav-container {
    padding: 18px 32px;
  }
  .haeder-box-logo {
    margin-left: 40px;
  }
  .haeder-box-text {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #222222;
  }
  .haeder-box-text #haeder-box-text-focus {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #f16d7f;
  }
  .haeder-box-text #haeder-box-text-mine {
    font-weight: 900;
    font-size: 44px;
    line-height: 53px;
    color: #222222;
  }
  .mine-box-top {
    padding: 19px 16px;
  }
  .mine-box-center {
    padding: 64px 16px;
  }
  .mine-box-card {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .footer-top {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    padding: 49px 204px;
    grid-row-gap: 30px;
    margin: 0;
  }
  .footer-mine {
    padding: 0 204px;
    padding-top: 64px;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    padding: 0;
  }
  .footer-mine div {
    max-width: none;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .footer-copyright {
    padding: 0 32px;
  }
  .catalog-main {
    padding: 24px 16px 0;
  }
  .catalog-main div.catalog-main-filter-checkbox {
    left: -50px;
  }
  .catalog-main header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .catalog-main header span {
    padding-left: 30px;
  }
  .catalog-main header div {
    padding: 0;
  }
  .catalog-main header div img {
    padding-right: 0;
  }
  .catalog-main main {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
  }
  .catalog-main section:last-child {
    display: none;
  }
}

@media (max-width: 767px) {
  .nav-container {
    padding: 18px 16px;
  }
  .nav-container div {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .nav-container-none {
    display: none;
    padding-right: 16px;
  }
  .haeder-box {
    width: 100%;
    height: 100vw;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .haeder-box-text {
    font-size: 20px;
    line-height: 24px;
  }
  .haeder-box-logo {
    min-height: 61px;
    margin-left: 0;
  }
  .haeder-box #haeder-box-text-main {
    font-size: 38px;
    line-height: 46px;
  }
  .haeder-box #haeder-box-text-focus {
    font-size: 20px;
    line-height: 24px;
  }
  .haeder #haeder-box-img {
    display: none;
  }
  .mine-box-top {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    padding: 64px 16px;
  }
  .mine-box-center {
    padding: 0 8px;
  }
  .mine-box-card {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .footer-top {
    margin: 0 13px;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .footer-top div {
    padding: 48px 0;
  }
  .footer-mine {
    padding: 0 13px;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    padding-bottom: 110px;
  }
  .footer-mine div {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .footer-mine #footer-mine-subscribe {
    min-width: 100%;
  }
  .footer-mine #footer-mine-subscribe div {
    padding: 0;
  }
  .footer-mine #footer-mine-subscribe h3 {
    font-size: 24px;
    line-height: 37px;
    padding-bottom: 24px;
  }
  .footer-mine #footer-mine-subscribe span {
    font-size: 14px;
    line-height: 22px;
  }
  .footer-copyright {
    padding: 10px 20px;
    padding-top: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .catalog-haeder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 24px 0 46px;
  }
  .catalog-haeder nav {
    padding-top: 32px;
  }
  .catalog-main {
    padding: 40px 8px 0;
  }
  .catalog-main div.catalog-main-filter-checkbox {
    left: -50px;
  }
  .catalog-main nav nav {
    margin-left: 0;
  }
  .catalog-main nav nav nav {
    width: 70vw;
    left: -17px;
  }
  .catalog-main header nav p {
    display: none;
  }
  .catalog-main header nav img {
    width: 10vw;
    height: auto;
  }
  .catalog-main-filter span {
    padding-left: 24px;
    font-size: 12px;
    line-height: 14px;
    color: #6F6E6E;
  }
  .catalog-main-filter div img {
    padding-right: 0;
  }
  .catalog-main main {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 16px;
  }
}
/*# sourceMappingURL=style.css.map */